@* Option #1: Default experience, with built-in UI and default reconnection parameters. *@
<StatefulReconnection />

@* Option #2: Default UI with custom reconnection parameters. *@
@* <StatefulReconnection MaxRetries="600" RetryIntervalMilliseconds="1000" /> *@

@* Option #3: Custom UI and reconnection parameters, using Bootstrap classes, as an example. *@
@* <StatefulReconnection MaxRetries="600" RetryIntervalMilliseconds="1000">
    <ReconnectContent>
        <div class="d-flex justify-content-center" style="margin-top: 10vh;">
            <div class="card">
                <div class="card-body">
                    <h5 class="mb-0">Rejoining the server...</h5>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <button class="btn btn-primary flex-grow-1" onclick="location.reload()">Reload</button>
                </div>
            </div>
        </div>
    </ReconnectContent>
</StatefulReconnection> *@

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
